@model IEnumerable<MVC3_0.Models.Guest>

@{
    ViewBag.Title = "Loobusid";
}

<h2>Loobusid</h2>

<p>
    @Html.ActionLink("Loo uus", "Create")
</p>
<p>
    @Html.ActionLink("Tulevad", "Accept", new { @class = "btn btn-primary" })
    @Html.ActionLink("Näita kõik", "Guests", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WillAttend)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WillAttend)
        </td>
        <td>
            @Html.ActionLink("Muuda", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Kustuta", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
