@model Koolitused.Models.Kursus

@{
    ViewBag.Title = "Kursuse kustamine";
}

<h2>Kursuse kustamine</h2>

<h3>
    Kas olete kindel, et soovite selle kustutada?
</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LapsId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LapsId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KoolitusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KoolitusId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Tagasi nimekirja", "Kursus")
        </div>
    }
</div>
