@model Koolitused.Models.Laps

@{
    ViewBag.Title = "laps_Kustutamine";
}

<h2>Lapsi kustutamine</h2>

<h3>Kas olete kindel, et soovite selle kustutada?</h3>
<div>
    <h4>Laps</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LapseEesnimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LapseEesnimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LapsePerenimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LapsePerenimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sunniaasta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sunniaasta)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Tagasi nimekirja", "Laps")
        </div>
    }
</div>
